@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<h4>Project details</h4>
<hr />

<h3>Aвтокатегоризатор текста</h3>

<p style="text-align: justify" >
    Разработать приложение для автоматического определения категории загружаемого текста.
    Приложение имеет форму загрузки текста через текстовую область (textarea) или путем загрузки
    текстового файла на сервер. В приложении хранится список категорий текста и подчиненный
    список ключевых слов по которым определяется категория. Приложение анализирует
    загружаемый текст на предмет вхождения заданых ключевых слов и ставит определенную
    категорию. Для простоты реализации берем первую найденную категорию. Если тексту не
    сопоставлена ни одна категория такой текст игнорируется и не сохраняется в базу.
    Помимо формы загрузки текста должна быть еще форма управления категориями и ключевыми
    словами и собственно форма иерархичного отображения проанализированного текста (список
    категорий и подчиненный список загруженного текста). База данных должна содержать таблицы категорий,
    ключевых слов и журнал загруженноготекста (файлы хранить не нужно).
</p>

<h3>Общие требования к реализации</h3>

<ul>
    <li>Это должно быть ASP.Net MVC приложение
    <li>Нужно показать реализацию нескольких слоев (DAL, etc.)
    <li>Желательно реализовать Dependency Injection.
    <li>Показать несколько собственных Partial Views (не авто-генеренных)
    <li>Показать использовавание application design patterns
    <li>Показать юнит тесты
    <li>Доступ к данным через Entity Framework
    <li>База данных должна создаваться скриптом (или прилагаться бекап)
    <li>Реализация с использованием WCF будет плюс
    <li>Реализация с загрузкой нескольких файлов одновременно и с multi-threading будет
        большой плюс
    <li>Использование скриптовых библиотек (jQuery, AngularJS, etc.) не требуется, но
        демонстрация их использования будет большой плюс.
    <li>Задание оформить в виде архива, без лишних библиотек и с автоматической загрузкой
        пакетов в солюшн.
</ul>
